body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background: #111;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Cards */
.product-card {
    border: 1px solid #ddd;
    padding: 35px;
    border-radius: 8px;
    margin: 10px;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
